<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{pending}}</strong> item left</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">

      <li *ngFor="let item of filtros">
        <a [class]="{'selected':item.value==filtroActual}" (click)="changeFilter(item.value)" href="#/">{{item.name}}</a>
      </li>
      
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" (click)="clear()">Clear completed</button>
  </footer>